body {
    background-color: papayawhip;
    font-family: 'Shippori Antique', sans-serif;
    text-align: center;
    font-size: 1em;
}

#main {
    margin: auto;
    text-align: left;
    display: inline-block;
}

p, li {
    max-width: 80ch;
    text-align: justify;
}

.author {
    color: darkgray;
    border-top: 1px solid darkgray;
}

a, a:visited {
    color: teal;
    text-decoration: none;
}

h1.main-title {
    font-size: 2em;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}
